.MatchDetailCard{
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 5px;
    
    .otherTeam{
        font-size: 35px;
    }
    .venue, .winner, .result{
        margin-top: 5px;
    }
    .innings{
        text-align: right;
    }
    
}


